<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="author" content="Brandon D Sara AKA bsara" />
    <meta name="description" content="Reboot Android TV : A simple app for rebooting an Android TV quickly and easily">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/screen.css" type="text/css" />
  </head>
  <body>
    <header>
      <!-- TODO: Finish -->
    </header>
    <section id="content">
      {{ content }}
    </section>
    <footer>
      <!-- TODO: Finish -->
    </footer>
  </body>
</html>
